#macro (classLiteral $type)##
    #if ($type.hasTypeParams())##
        new $[com.google.common.reflect.TypeToken]<$[$type]>(){}##
    #else##
        $[com.google.common.reflect.TypeToken].of($[$type.asBoxed()].class)##
    #end##
#end##
