{
  "name": "$npmModuleName",
  "version": "$npmModuleVersion",
  "description": "$npmModuleDescription",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "author": "$npmModuleAuthor",
  "private": true,
  "scripts": {
    "build": "tsc"
  },
  "devDependencies": {
    "typescript": "^$typeScriptVersion"
  },
  "dependencies": {
#if ($generateNgModule)
    "@angular/core": "^$angularVersion",
#end
    "rxjs": "^$rxJsVersion",
    "rxrpc-js": "^$rxRpcJsVersion"
  },
  "files": ["*.ts", "*.json", "dist/*"]
}
