$imports

#if ($generateNgModule)
@$[@angular.core.Injectable]()
#end
export class $targetClass.simpleName() {
    constructor(private client: $[ngRxrpc.RxRpcClient]) {
    }

#foreach ($m in $methods)
    public $m.name()(##
#foreach ($p in $m.params())##
$p.name(): $[$tsUtils.toTypeScriptType($p.type())]##
#if ($foreach.hasNext), #end##
#end): $[rxjs.Observable<$tsUtils.toTypeScriptType($m.returnType().elementType())>] {
        return this.client.invoke('$meta.value()/$m.name()', {
#foreach ($p in $m.params())##
            $p.name(): $p.name()#if ($foreach.hasNext),#end

#end
        });
    }
#if ($foreach.hasNext)

#end
#end
}
